//quando for fazer os imports dos arquivos sass, é preciso colocar na sequencia de hierarquia
//para que não dê erro a acessar as informações, nessa pagina estamos acessando propriedades de outra pagina scss.


.textBuy{
    font-size: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: $primary-color;
}

.btn{
    padding: 10px;
    border: 1px solid red;
    background-color: $secundary-color;
}